.user_amazon_books {
  ul {
    > li {
      position: relative;
      border: 1px solid #ccc;

      .operations {
        position: absolute;
        top: 5px;
        right: 5px;
      }

      span.image-container {
        display: inline-block;
        width: 75px;
        text-align: center;
      }
    }
  }
}
